body{
    background-color: #FFFFFF;
    font-family: sans-serif;
    margin: 10px;
}
h2{
    color: #111111;
    text-align: center;
    font-weight: bold;
}
.algo-selection{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.algo-selection p {
    margin: 0;
}
#selection1{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid;
}
#custom{
    margin-right: 10px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid;
}
#random{
    margin-left: 10px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid;
}
#before{
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 6px;
    border: 1px solid;
}
#play{
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 6px;
    border: 1px solid;
    background-color: lightseagreen;
}
#next{
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 6px;
    border: 1px solid;
}
#reset{
    vertical-align: middle;
    border-radius: 6px;
    border: 1px solid;
}
.speed-selection{
    display: flex;
    align-items: center;
    gap: 6px;
}
.speed-selection p{
    margin: 0px;
}
#selection2{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid;
}
.control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom:10px;
}
.bar-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.evaluate{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}